<% if (typeof user!= "undefined" ) { %> <% if (user.admin) { %>
<a class="btn btn-danger btn--admin rounded-pill shadow" href="/dashboard">
  Dashboard
  <!-- <i class="fa fa-dashboard"></i  >-->
</a>
<% } %> <% } %>
