<div class="cookie-banner">
  <p>
    By using our website, you agree to our
    <a class="cookie-banner--link" href="/policy">cookie policy</a>
  </p>
  <button class="close">&times;</button>
</div>
