<footer class="footer">
  <div class="container footer">
    <div class="logo-holder">
      <a href="/" class="nav__link">
        <img src="/assets/nomatalks-logo.png" alt="Nomatalks brand logo" />
      </a>
    </div>
    <nav class="nav nav--secondary">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/policy" class="nav__link">Privacy Policy</a>
        </li>
        <li class="nav__item">
          <a href="/about" class="nav__link">About Us</a>
        </li>
        <li class="nav__item">
          <a href="/contact-us" class="nav__link">Contact us</a>
        </li>
      </ul>
    </nav>
    <ul class="nav__list nav__list--socals">
      <li class="nav__item">
        <a href="https://twitter.com/thenomatalks?s=09" class="nav__link"
          ><i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="nav__item">
        <a
          href="https://www.facebook.com/Nomatalks-219142718824654/"
          class="nav__link"
          ><i class="fab fa-facebook"></i>
        </a>
      </li>
      <li class="nav__item">
        <a
          href="https://instagram.com/nomatalks?igshid=qv5b6740svv"
          class="nav__link"
          ><i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
  <hr />

  <div class="container container--copy-right">
    <% let date = new Date().getFullYear() %>
    <small>&copy; Copyright <%= date %> , Nomatalks</small>
  </div>
</footer>
