<form
  class="d-flex"
  action="/admin/magazine/<%= magazine.id %>?_method=DELETE"
  method="post"
>
  <button type="submit" class="btn btn-danger">
    <i class="fas fa-trash fa-small"></i>
  </button>
</form>
