<div class="form-group">
  <label for="issue">Issue</label>
  <input
    class="form-control"
    name="issue"
    id="issue"
    type="text"
    placeholder="Default input"
    value="<%= typeof magazine.issue != 'undefined' ? magazine.issue  : ''%>"
  />
</div>
<div class="form-group">
  <label for="snippet">Snippet</label>
  <input
    class="form-control"
    name="snippet"
    id="snippet"
    type="text"
    placeholder="Default input"
    value="<%= typeof magazine.snippet != 'undefined' ? magazine.snippet : ''%>"
  />
</div>
<div class="form-group">
  <label for="author">Author</label>
  <input
    class="form-control"
    name="author"
    id="author"
    type="text"
    placeholder="Default input"
    value="<%= typeof magazine.author != 'undefined' ? magazine.author : ''%>"
  />
</div>
<div class="form-group">
  <label for="exampleFormControlSelect1">Status</label>
  <select class="form-control" name="status" id="exampleFormControlSelect1">
    <% if (typeof magazine.status != 'undefined' && magazine.status ===
    "private") { %>
    <option selected value="private">Private</option>
    <option value="public">Public</option>
    <% } else { %>
    <option selected value="public">Public</option>
    <option value="private">Private</option>
    <% } %>
  </select>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01"
      >Upload Magazine</span
    >
  </div>
  <div class="custom-file">
    <input
      type="file"
      class="custom-file-input"
      id="inputGroupFile01"
      name="digitalMagazine"
      aria-describedby="inputGroupFileAddon01"
    />
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01"
      >Upload Cover Image</span
    >
  </div>
  <div class="custom-file">
    <input
      type="file"
      class="custom-file-input"
      name="coverImage"
      id="inputGroupFile01"
      aria-describedby="inputGroupFileAddon01"
    />
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
</div>

<div class="d-flex">
  <a href="/admin/magazine" class="btn btn-secondary mr-2"> cancel</a>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
