<div class="mtb-8">
  <main class="privacy">
    <div class="container con-lg">
      <div class="block">
        <h1>About Us</h1>
        <hr />
        <p>
          Welcome to nomatalks, your number one source for inspiring and
          engaging contents. We're dedicated to giving you the very best of
          entertaining contents, with a focus on being informative and
          inspiring.
        </p>
        <p>
          Founded 2018 by Noma Obaseki, nomatalks has come a long way from its
          beginnings in posting inspiring and motivational quotes. When Noma
          first started out, his passion for writing grew which lead to more
          research so that nomatalks can offer you the best contents. We now
          talk about various issues all over the world, and are thrilled that
          we're able to turn our passion into our own blog.
        </p>
        <p>
          We hope you enjoy our platform as much as we enjoy offering them to
          you. If you have any questions or enquiries, please don't hesitate to
          contact us.
        </p>
        <p>
          General enquiries
          <a href="mailto:nomatalks@gmail.com">nomatalks@gmail.com</a>
        </p>
        <p>
          features, advertisements and sponsored content;<a
            href="mailto:thenomatalks@gmail.com"
            >thenomatalks@gmail.com</a
          >
          or
          <a
            href="tel:+2347014428614
          "
            >+2347014428614
          </a>
        </p>
      </div>
      <div class="block">
        <h3>Copyright</h3>
        <p>
          All text herein is property of nomatalks and may not be copied or
          reproduced without permission.
        </p>
        <p>
          Images on nomatalks are owned by the respective copyright owners and
          are used with permissions.
        </p>
        <p>
          Additional images on
          <a href="http://www.thenomatalks.com">www.thenomatalks.com</a> are
          readily available on the internet and believed to be in public domain.
          Images posted are believed to be published according to the U.S
          Copyright Fair Use Act (title 17, U.S code)
        </p>
        <p>
          If you believe there’s been a copyright violation, please email
          <a href="mailto:nomatalks@gmail.com">nomatalks@gmail.com</a>
          with evidence and we will remove the image immediately.
        </p>
      </div>
      <div class="block">
        <h3>Permissions</h3>
        <p>
          If you would like to request the use of nomatalks copyrighted content,
          please send am email to
          <a href="mailto:thenomatalks@gmail.com">thenomatalks@gmail.com</a>
          Use may be subject to a fee.
        </p>
      </div>
    </div>
  </main>
</div>
