<h2>Create A New Digital Magazine Post</h2>
<div class="blog-form">
  <form
    class="form"
    action="/admin/magazine"
    method="POST"
    enctype="multipart/form-data"
  >
    <%- include("./partials/_form.ejs") %>
  </form>
</div>
