<div class="form-group">
  <label for="name">name</label>
  <input
    class="form-control"
    name="name"
    id="name"
    type="text"
    placeholder="Default input"
    value="<%= typeof category.name != 'undefined' ? category.name : ''%>"
  />
</div>
<div class="d-flex">
  <a href="/admin/category" class="btn btn-secondary mr-2"> cancel</a>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
